body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
section{
    height: 500px;
    padding-bottom: 15px;
}

.back-img{
background-repeat: no-repeat;
    background-image:url("img/firstbg.jpg");
    height: 250%;
    width: 100%;
    background-size: cover;
}
.half-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.display-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.half-width img{

    width: 100%;
}
p{
    color: gray;
}
h1{
    font-size: 50px;  
}

h1 span{
    color:rgb(8, 114, 156);
}

.brg{
    color: black;
}

.anchor-button{
    text-decoration: none;
    background: linear-gradient(45deg, rgb(6, 116, 167), rgb(147, 155, 224));
    padding: 10px 40px;
    border-radius: 7px;
    color: white;
    font-weight: 700;
}
.back2-img{
    height: 350px;
    width: 100%;
}
.back2-img{
    background-image:url("img/midbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.align-item {
    text-align: center;
   
    align-items: center;
    height: 150px;
    width: 90%;
    margin-left: 80px;
    margin-top: 150px;
    margin-bottom: 100px;

}
.algin{
    font-size: 30px;
    text-align: center;
}
.info{
    margin-bottom: 7%;
}
.item{
    width: 300px;
    height: 500px;
    padding: 2%;
    margin: 3% 4%;
    border-radius: 6%;
    box-shadow: 10px 10px 25px rgb(124, 123, 123);
   
}
.item img{
    height: 250px;
    width: 100%;
    border-radius:6%;
}
.item h3{
    font-size: 30px;
}
.item p{
    
    text-align: justify;
}
.food{
    transition: 0.6s;
}
.food:hover{
    transform: scale(1.045);
}
.display{
    height: 150px;
    width: 90%;
    margin-left: 80px;
    margin-top: 150px;
    margin-bottom: 100px;

}
.display-item{
    justify-content: space-around;
    box-shadow: 10px 10px 15px rgb(139, 137, 137);
    border-radius: 5%;
}
footer{
    background-color: gray;
    padding: 10px 5px;
    text-align: center;
    

}